h2 {{user.username}} #[small user {{userForm.$dirty?'(unsaved)':''}}]

.btn-toolbar
  button.btn.btn-primary(ui-sref="users") Back to user list

hr

form(name="userForm", novalidate)
  .row
    .col-md-4
      .form-group(ng-class="{'has-error': userForm.username.$invalid && userForm.username.$touched}")
        label.control-label(for="username") Username:

        input#username.form-control(
          name="username",
          ng-model="user.username",
          ng-model-options="{'updateOn': 'blur'}"
          ng-disabled="user._id", ng-readonly="user._id",
          remote-validator="uniqueUsername",
          remote-validator-function="uniqueUsername(username)",
          required,
          type="text"
        )

        div(
          ng-messages="userForm.username.$error",
          ng-if="userForm.username.$touched"
        )
          label.control-label(ng-message="required") A username is required.
          
          label.control-label(
            ng-message="uniqueUsername"
          ) That username is taken.

    .col-md-4
      .form-group(ng-class="{'has-error': userForm.first.$invalid && userForm.first.$touched}")
        .form-group
          label.control-label(for="first") First name:
          input#name-first.form-control(
            type="text", name="first", ng-model="user.name.first", required
          )

          div(
            ng-messages="userForm.first.$error",
            ng-if="userForm.first.$touched"
          )
            label.control-label(ng-message="required") A first name is required.

    .col-md-4
      .form-group(ng-class="{'has-error': userForm.last.$invalid && userForm.last.$touched}")
        .form-group
          label.control-label(for="last") Last name:
          input#name-first.form-control(
            type="text", name="last", ng-model="user.name.last", required
          )

          div(
            ng-messages="userForm.last.$error",
            ng-if="userForm.last.$touched"
          )
            label.control-label(ng-message="required") A last name is required.

  .row
    .col-md-4
      .form-group(
        ng-class="{'has-error': userForm.email.$invalid && userForm.email.$touched}"
      )
        label.control-label(for="email") Email:
        
        input#email.form-control(
          type="email", name="email", ng-model="user.email", required
        )

        div(ng-messages="userForm.email.$error", ng-if="userForm.email.$touched")
          label.control-label(ng-message="required") An email is required.
          label.control-label(ng-message="email") Please enter a valid email.
hr

.btn-toolbar
  button.btn.btn-primary(ng-click="save();", ng-class="{disabled: userForm.$invalid}") Save
  button.btn.btn-danger(ng-click="delete();") Delete
  button.btn.btn-danger(ui-sref="users") Cancel